@media (max-width: 1695px) {
  /* SERVICES */
  .services__container-description img,
  .services__container-description p {
    width: 34rem;
  }
  /* Zenno */
  .slide {
    margin-left: 6.5rem;
  }

  /* HELP */
  .help__container-block {
    width: 28rem;
  }
  /* PARTNER */
  .partner__title {
    font-size: 60px;
  }
  /* TESTIMONIALS */
  .testimonials__container {
    gap: 3.75rem;
  }
  .testimonials__container-block {
    gap: 2.5rem;
  }
  .testimonials__container-block-texts {
    width: 20rem;
  }
  br {
    display: none;
  }
  /* CONTACTS */
  .contacts__container h3,
  .contacts__container-info {
    font-size: 36px;
  }
  .contacts__container h3 {
    width: 33.5rem;
  }
}

@media (max-width: 1400px) {
  .services__title,
  .help__title,
  .testimonials__title,
  .contacts__title {
    font-size: 36px;
  }
  /* HEADER */
  .header__nav-container-links {
    font-size: 20px;
  }
  .header__title {
    width: 55rem;
    font-size: 58px;
  }
  /* SERVICES */
  .services__container-titles {
    font-size: 40px;
  }
  .services__container-description img {
    width: 30.5rem;
    height: 25.5rem;
  }
  .services__container-description p {
    width: 30.5rem;
    font-size: 20px;
  }
  /* Zenno */
  .slide {
    font-size: 58px;
    margin-left: 6.25rem;
  }
  /* HELP */
  .help__container-block {
    width: 27.75rem;
  }
  .help__container-block h3 {
    font-size: 40px;
  }
  .help__container-block p {
    font-size: 20px;
  }
  /* PARTNER */
  .partner__title {
    font-size: 52px;
  }
  /* TESTIMONIALS */
  .testimonials__container {
    justify-content: space-between;
  }
  .testimonials__container-block {
    align-items: flex-start;
    width: 32.5rem;
    gap: 1.5rem;
  }
  .testimonials__container-block picture {
    height: 18.75rem;
    width: 13rem;
  }
  .testimonials__container-block-texts {
    width: 17.5rem;
  }
  .testimonials__container-block-texts p,
  h4 {
    font-size: 20px;
  }
  /* FOOTER */
  .footer__info,
  .footer__rights {
    font-size: 20px;
  }
}

@media (max-width: 1325px) {
  /* HEADER */
  .header__title {
    width: 41.5rem;
    font-size: 48px;
  }
  /* SERVICES */
  .services__container-description img {
    width: 26.8rem;
    height: 21.8rem;
  }
  .services__container-description p {
    width: 26.8rem;
  }
  /* Zenno */
  .slide {
    font-size: 48px;
    margin-left: 4.6rem;
  }
  /* HELP */
  .help__container-block h3 {
    font-size: 36px;
  }
  /* PARTNER */
  .partner__title {
    font-size: 45px;
  }
  /* TESTIMONIALS */
  .testimonials__container {
    gap: 3.4rem;
  }
  .testimonials__container-block {
    width: 28rem;
    gap: 1.25rem;
  }
  .testimonials__container-block picture {
    height: 16.25rem;
    width: 11.5rem;
  }
  .testimonials__container-block-texts {
    width: 15.2rem;
  }
  .testimonials__container-block-texts p,
  h4 {
    font-size: 18px;
  }
  /* FOOTER */
  .footer__info,
  .footer__rights {
    font-size: 20px;
  }
}

@media (max-width: 1230px) {
  /* HEADER */
  .header__title {
    width: 41.5rem;
    font-size: 48px;
  }

  /* SERVICES */
  .services__container-description img {
    width: 26.8rem;
    height: 21.8rem;
  }
  .services__container-description p {
    width: 26.8rem;
  }
  /* Zenno */
  .slide {
    font-size: 48px;
    margin-left: 4.6rem;
  }
  /* HELP */
  .help__container-block h3 {
    font-size: 36px;
  }
  /* PARTNER */
  .partner__title {
    font-size: 45px;
  }
  /* TESTIMONIALS */
  .testimonials__container {
    gap: 3.5rem;
  }
  .testimonials__container-block {
    width: 28rem;
    gap: 1.25rem;
  }
  .testimonials__container-block picture {
    height: 16.25rem;
    width: 11.5rem;
  }
  .testimonials__container-block-texts {
    width: 17.5rem;
    gap: 1rem;
  }
  .testimonials__container-block-texts p,
  h4 {
    font-size: 18px;
  }
  /* FOOTER */
  .footer__info,
  .footer__rights {
    font-size: 20px;
  }
}

@media (max-width: 1140px) {
  .services__title,
  .help__title,
  .testimonials__title,
  .contacts__title {
    font-size: 24px;
  }

  .services__title img,
  .help__title img,
  .testimonials__title img,
  .contacts__title img {
    width: 10px;
    height: 17px;
  }
  /* HEADER */

  .header {
    height: 35rem;
  }

  .header__title {
    width: 31.5rem;
    font-size: 36px;
    line-height: 2.5rem;
  }

  #header__logo {
    width: 125px;
    height: 20px;
  }

  .header__nav-container-links {
    display: none;
  }

  .header__nav-container-burger {
    display: block;
  }

  /* SERVICES */
  .services__container-titles {
    font-size: 30px;
  }

  .services__container-description img {
    width: 19rem;
    height: 19rem;
  }

  .services__container-description p {
    width: 20rem;
  }

  /* ZENNO */

  .zenno__slider-slide div {
    font-size: 36px;
  }

  /* HELP */

  .help {
    gap: 2.5rem;
  }

  #import {
    width: 74px;
    height: 76px;
  }

  #trade,
  #market,
  #business {
    width: 70px;
    height: 70px;
  }

  #product {
    width: 78px;
    height: 70px;
  }

  #finance {
    width: 70px;
    height: 38px;
  }

  .help__container-block img {
    margin-bottom: 2.5rem;
  }

  .help__container-block h3 {
    font-size: 28px;
    margin-bottom: 1rem;
  }

  .help__container-block p {
    font-size: 16px;
  }

  /* PARTNER */
  .partner {
    height: 31rem;
  }
  .partner__title {
    font-size: 33px;
  }
  /* TESTIMONIALS */
  .testimonials__container-block {
    width: 25rem;
    gap: 1.25rem;
  }
  .testimonials__container-block picture {
    width: 8.5rem;
    height: 11.5rem;
  }
  .testimonials__container-block-texts {
    width: 17.5rem;
    gap: 1rem;
  }

  .testimonials__container-block-texts p,
  h4 {
    font-size: 14px;
    line-height: 1rem;
  }
  /* CONTACTS */

  .contacts {
    height: 30rem;
    padding-top: 3.5rem;
  }

  .contacts__container h3 {
    width: 22rem;
    font-size: 24px;
    line-height: 2rem;
  }

  .contacts__container-info {
    gap: 5px;
    font-size: 24px;
  }
  /* FOOTER */
  .footer {
    gap: 3rem;
    padding: 3rem 0 3rem 0;
  }

  .footer__info,
  .footer__rights {
    font-size: 20px;
  }

  #footer__logo {
    width: 125px;
    height: 20px;
  }
}

@media (max-width: 500px) {
  .services__title,
  .help__title,
  .testimonials__title,
  .contacts__title {
    font-size: 20px;
  }

  .services__title img,
  .help__title img,
  .testimonials__title img,
  .contacts__title img {
    width: 9px;
    height: 14px;
  }

  /* HEADER */

  .header {
    height: 30rem;
  }

  #header__logo {
    width: 95px;
    height: 15px;
  }

  .header__title {
    width: 21.5rem;
    font-size: 32px;
    line-height: 2.5rem;
  }

  /* SERVICES */

  .services__container {
    display: none;
  }

  .services__mobile {
    display: block;
  }

  .services__mobile-title {
    position: relative;
    list-style: none;
    font-size: 24px;
    margin-bottom: 40px;
    cursor: pointer;
  }

  .services__mobile-title:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    content: url(../img/arrow__down.svg);
  }

  .services__mobile-card[open] .services__mobile-title:before {
    content: url(../img/arrow__up.svg);
  }

  .services__mobile-info img {
    width: 344px;
    height: 235px;
    margin-bottom: 20px;
  }

  .services__mobile-info p {
    margin-bottom: 50px;
  }

  /* ZENNO */

  .zenno__slider-slide div {
    font-size: 32px;
  }

  .zenno__slider-slide {
    line-height: 50vh;
    width: 100%;
    margin-left: 1.5rem;
    overflow: hidden;
  }

  /* HELP */

  .help {
    padding-top: 0.5rem;
    gap: 3.75rem;
  }

  .help__container-block h3 {
    font-size: 32px;
  }

  .help__container-block img {
    align-self: center;
  }

  .help__container-block p {
    font-size: 16px;
  }

  #import {
    width: 65px;
    height: 73px;
  }

  #trade,
  #market,
  #business {
    width: 53px;
    height: 53px;
  }

  #product {
    width: 59px;
    height: 53px;
  }

  #finance {
    width: 60px;
    height: 32px;
  }

  /* PARTNER */

  .partner {
    height: 24rem;
  }

  .partner__title {
    width: 265px;
    font-size: 32px;
    line-height: 2.4rem;
    margin: 0 auto;
  }

  /* TESTIMONIALS */

  .testimonials {
    padding-top: 2.75rem;
  }

  .testimonials__container {
    gap: 3.5rem;
  }

  .testimonials__container-block {
    display: flex;
    flex-direction: column;
    width: 28rem;
    gap: 1.25rem;
  }

  .testimonials__container-block picture {
    align-self: center;
    height: 235px;
    width: 168px;
  }

  .testimonials__container-block-texts {
    width: 344px;
    gap: 1rem;
    text-align: center;
  }

  .testimonials__container-block-texts p,
  h4 {
    font-size: 16px;
  }

  /* CONTACTS */

  .contacts {
    height: 27rem;
    padding-top: 44px;
  }

  .contacts__container {
    flex-direction: column;
  }

  .contacts__container h3 {
    width: 344px;
    font-size: 20px;
    margin-bottom: 35px;
  }

  .contacts__container-info {
    font-size: 20px;
    gap: 1rem;
    align-items: start;
  }

  /* FOOTER */
  .footer {
    gap: 3rem;
    padding: 3rem 0 3rem 0;
  }

  .footer__info,
  .footer__rights {
    font-size: 16px;
  }

  #footer__logo {
    width: 95px;
    height: 15px;
  }

  .footer__info p {
    text-align: right;
  }
}
