:root {
  /* COLOR VARIABLES */
  --primary_color: linear-gradient(
    185deg,
    #5151ff 0%,
    #5151ff 0.01%,
    #3535a6 100%
  );
  /* --secondary_color: ; */
  /* --link_hover: ; */
  /* FONT-WEIGHT VARIABLES */
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
}

/* SCROLLBAR STYLES */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #3535a6;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 2px;
}

/* INITIALIZE OF FONTS */

@font-face {
  font-family: SpaceGrotesk;
  src: url("../fonts/SpaceGrotesk-Regular.ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SpaceGrotesk;
  src: url("../fonts/SpaceGrotesk-Bold.ttf");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/* DEFAULT STYLES */

* {
  box-sizing: border-box;
  font-family: "SpaceGrotesk", sans-serif;
  font-weight: var(--regular);
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  user-select: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 120rem;
  margin: 0 auto;
  overflow-x: hidden;
  background: var(--primary_color);
}

.header,
.services,
.help,
.partner,
.testimonials,
.contacts,
.footer__info {
  padding: 0 8%;
}

/* COMMON STYLES */

h1,
h2,
h3,
h4 {
  letter-spacing: -0.03em;
}

.horizontal__line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.vertical__line {
  height: 686px;
  width: 1px;
  background-color: #fff;
}

.services__title,
.help__title,
.testimonials__title,
.contacts__title {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  font-size: 40px;
  align-items: center;
}

/* HEADER */

.header {
  height: 44rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__nav-container {
  height: 6.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__nav-container-links {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  font-size: 24px;
}

.header__nav-container-burger {
  display: none;
}

.header__title {
  width: 60rem;
  font-size: 64px;
  line-height: 4.5rem;
}

/* SERVICES */

.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6.5rem;
  padding-top: 6.5rem;
}

.services__mobile {
  display: none;
}

.services__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services__container-titles {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  font-size: 48px;
  cursor: pointer;
}

.services__container-titles h3:hover {
  text-decoration: underline;
}

.services__container-description {
  display: none;
}

#description1 {
  display: block;
}

.services__container-description img {
  border-radius: 0.6rem;
  margin-bottom: 2rem;
}

.services__container-description p {
  width: 41rem;
  font-size: 24px;
  line-height: 1.8rem;
}

/* Zenno */

.zenno {
  overflow-x: hidden;
}

.zenno__slider-wrapper {
  width: 400%;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  overflow-x: hidden;
}

.zenno__slider-slide {
  line-height: 80vh;
  width: 500%;
  margin-left: 10rem;
  overflow: hidden;
}

.zenno__slider-slide p {
  font-size: 64px;
}

.zenno__container-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.zenno__big-logo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 9%;
}

.zenno__big-logo img {
  align-self: center;
  justify-self: center;
}

/* HELP */

.help {
  display: flex;
  flex-direction: column;
  gap: 9rem;
  padding-top: 6.5rem;
}

.help__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 9rem;
}

.help__container-block {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.help__container-block img {
  margin-bottom: 3rem;
}

.help__container-block h3 {
  font-size: 48px;
  font-weight: var(--bold);
  margin-bottom: 3rem;
}

.help__container-block p {
  font-size: 24px;
}

/* PARTNER */

.partner {
  height: 62.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.partner__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 77.5px;
}

/* TESTIMONIALS */

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 6.5rem;
  justify-content: space-between;
  padding-top: 6.5rem;
}

.testimonials__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 9rem;
}

.testimonials__container-block {
  display: flex;
  flex-direction: row;
  gap: 3.5rem;
}

.testimonials__container-block-texts {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2.25rem;
}

.testimonials__container-block-texts p,
h4 {
  font-size: 24px;
  line-height: 1.6rem;
}

.testimonials__container-block-texts h4 {
  font-weight: var(--bold);
}

/* CONTACTS */

.contacts {
  height: 44rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 6.5rem;
}

.contacts__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts__container h3 {
  width: 37.5rem;
  font-size: 40px;
}

.contacts__container-info {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  gap: 1.5rem;
  font-size: 40px;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  padding: 3rem 0 3rem 0;
}

.footer__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
}

.footer__rights {
  text-align: center;
  font-size: 24px;
}
